@font-face {
  font-family: "manrope";
  src: url("../font/manrope/Manrope-Regular.woff2") format("woff2"),
    url("../font/manrope/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: "manrope", var(--system-ui);
  height: 100vh;
  background-color: var(--Dark-Blue);
}

p {
  margin: 0;
}

.slipContainer {
  background-color: var(--Dark-Grayish-Blue);
  color: white;
  border-radius: 10px;
  padding: 50px 50px 0px;
  width: 500px;
}

body,
.slipContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.slipIdContainer {
  color: var(--Neon-Green);
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: 15px;
}

#advice {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.imageContainer {
  position: relative;
  top: 35px;
}

.generateContainer {
  position: relative;
  top: 60px;
}

#generateBtn {
  background-color: var(--Neon-Green);
  border: none;
  padding: 20px;
  border-radius: 50%;
}
